.recipe-single{
    background: linear-gradient(45deg, #73af13,#10912c,#73af13);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.recipe-single:hover{
    transform: scale(1.05);
    transition: .3s linear;
    box-shadow: 5px 5px 20px #000;
}
.recipe-single img{
    width: 100%;
}
.recipe-single h6{
    padding: .5rem;
    color: #fff;
}