.ingredients-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.ingredients-container a{
    text-decoration: none;
    color: #d57d1f;
}
.ingredients-container a:hover{
    color: #fff;
    text-decoration: none;
}
.single-ingredient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    margin: 0 auto;
}
.single-ingredient img{
    width: 100%;
}
.single-ingredient img:hover{
    transform: scale(1.03);
    transition: .3s linear;
}

@media (max-width:992px){
    .ingredients-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:768px){
    .ingredients-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:576px){
    .ingredients-container{
        grid-template-columns: 1fr;
    }
}