/* nav a{
    text-decoration: none;
    color: #fff;
    position: sticky;
    top: 0;
    background: #000;
    padding: 1rem;
} */
#menu{
    background: #23180D !important;
    padding: .5rem 10%;
}
.logo{
    color: #fff !important;
}
#menu ul li a{
    color: #fff;
}
#menu ul li a:hover{
    color:#d57d1f ;
    transition: .3s linear;
}