.single-recipe-item{
    min-height: calc(100vh - 150px);
}
/* .single-recipe-img{
    max-width:55%;
} */
.single-recipe-img img {
  max-width: 100%;
}
.recipe-info ul li {
  list-style: none;
}
.ingredients-list li::before {
  content: "✅";
  margin-right: 0.5rem;
}
.ingredients-list {
  color: #d57d1f;
}
.recipe-info h3 {
  color: #ffcb69;
}
.recipe-info span {
  color: #d57d1f;
}
.ingredients-measure {
  gap: 1rem;
}
